<div class="container-fluid row d-flex align-items-center justify-content-center">

    <div class="container-continua col-md-4 font-weight-bold text-white text-center">

        <div>
            <h1 class=" ">Entrar</h1>
        </div>
            <div class="form-group ">
              <div>
            <label  for="usuario">Usuario</label>
             </div>
            <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="usuario">
           </div>
           <div class="form-group ">
             <div>
            <label for="senha">Senha</label>
          </div>
          <div>
            <input [(ngModel)]='userLogin.senha'class="form-control"type="password" name="senha" id="senha" placeholder="senha">
          </div>
        </div>
           <div class="text-center">
            <button class="btn btn-outline  my-2 justify-content-center botao" type="submit" (click)='entrar()'>Entrar </button>
           </div>
           <p class="text-center pg-20">
               Não tem uma conta ? <a routerLink="/cadastrar" class="text-danger" >Cadastre-se</a>
           </p>
        </div>
    </div>


