bodu{
  line-height: 0;
}

h1{
    color: #41a3e0;
}
.pg-20{
    margin-top: 20px;
}

.fs-16{
    font-size: 10pt;
}
.bg-azul{
    background-image: linear-gradient(to right, #04BFAD , #024873);
}

.container-fluid {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://cdn.wallpapersafari.com/18/65/6Ydeya.jpg);
    display: flex;
    justify-content: auto;

    background-size: cover;
    font-size: 14px;

}


.container-continua{
    padding: 1% 5%;
    border: 1px solid white;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.6);
    width: 250px;
}


.btn-outline{
    background-color: #04BFAD ;
    border: 2px solid transparent;
}
.btn-outline:hover {
    background: none;
    border: 2px  solid #04BFAD ;
    color: white;
}

.form-control{
  font-size: 10pt;
}
