h1{
    color: #41a3e0;
}
.pg-20{
    margin-top: 20px;
}

.fs-16{
    font-size: 16pt;
}
.bg-azul{
    background-image: linear-gradient(to right, #04BFAD , #024873);
}

.container-fluid {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../assets/img/planoDeFundo.jpg);
    display: flex;
    justify-content: auto;
  
    background-size: cover;
    font-size: 14px;
  
}
.container{
    min-width: 60%;
}

.container-foto{
    height: 35%;
    width: 35%;
}
.container-foto img {
    width: 80%;
    border-radius: 5%;
    height: 50vh;
}

.container-continua{
    
    padding: 5% 5%;
    border: 1px solid white;
    border-radius: 5%; 
}
.btn-outline{
    background-color: #04BFAD ;
    border-color: #024873 ;
 
}
.btn-outline:hover {
    background-image: linear-gradient(to right, #04BFAD , #024873);
}