<div class="container-fluid row">
    <div class="container d-flex justify-content-center align-items-center align-content-collumn" >   
    <div class="container-foto pg-0">
        <div>
            <img src="../../assets/img/banner.png" alt="">
        </div>
    </div>
    <div class="container-continua col-md-5 font-weight-bold text-white ">
        <div>
            <h1 class="text-center ">Entrar</h1>
        </div>
            <div class="form-group fs-16">
            <label for="usuario">Usuario</label>
            <input class="form-control"type="text" name="usuario" id="usuario" placeholder="usuario">
           </div>
           <div class="form-group fs-16">
            <label for="senha">Senha</label>
            <input class="form-control"type="text" name="senha" id="senha" placeholder="senha">
           </div>
           <div class="text-center">
            <button class="btn btn-outline  my-2 justify-content-center botao" type="submit">Entrar </button>
           </div>
           <p class="text-center pg-20"> 
               Não tem uma conta ? <a routerLink="/cadastrar" class="text-danger">Cadastre-se</a>
           </p>
        </div>
    </div>
</div>

