
.bg-azul{
    background-image: linear-gradient(to right, #04BFAD , #024873);
}

.container-fluid {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../assets/img/planoDeFundo.jpg);
    display: flex;
    justify-content: auto;

    background-size: cover;
    font-size: 14px;
  
}
.container{
    width: 100%;
    
}

.container-foto{
  
    margin: 5%;
}
.container-foto img {
    
    height: 60vh;
}

.container-continua{
    
    border-radius: 5%;
    padding: 5% 0% 5;
    border: 1px solid ;
    
    
}
.btn-primary:nth-child(2){
    margin-left: 5%;
    background-color: #024873);
}
.btn-primary:nth-child(1){
    margin-left: 5%;

    background-color: #990505 ;
 
    border-color: #990505 ;
}
.btn-primary:hover:nth-child(1){

    background-image: linear-gradient(to right, #e46d6d , #990505);
    
}
.btn-primary:hover:nth-child(2){

    background-image: linear-gradient(to right, #04BFAD , #024873);
    
}